.entireCard{
    margin:10px;

}
.outerCard{
    width:439px;
    height:739px;
    position:relative;
    clip-path: polygon(50% 0%, 100% 7%, 100% 93%, 50% 100%, 0% 93%, 0 7%);
    background: linear-gradient(19.44deg, #1E40AF 0%, #B91C1C 100%);

    /*path(
        "M223.5 5.12981L438 54.3237V684.676L223.5 733.87L9 684.676V54.3237L223.5 5.12981Z"
      );*/
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
.innerCard{
    position: absolute;
    top:10px;
    left:10px;
    width:419px;
    height: 719px;
    clip-path: polygon(50% 0%, 100% 7%, 100% 93%, 50% 100%, 0% 93%, 0 7%);
    background: #1E40AF;
}


.upperCard{
    overflow:hidden;
width:439px;
height:368px;
left: 0px;
top: 0px;
position:absolute;
background:  linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), linear-gradient(54.9deg, #1E40AF 0%, #B91C1C 100%);
}
.playerImage{
    position: absolute;
left:6px;
    top: 10.96%;

}
.lightsImg{
position: absolute;
width: 1680.12px;
height: 1191.88px;
left:-619px; /*-461.59px;*/
top: -375px;
opacity: 0.5;
filter: blur(10px);
}
.flaresImg{
    position: absolute;
width: 481px;
height: 326px;
left: 0px;
top: 0px;

mix-blend-mode: normal;
filter: blur(1.5px);
}
.midSpace{
    position: absolute;
width: 439px;
height: 10px;
left: 0px;
top: 368px;
background: linear-gradient(90deg, #583379 2.26%, #802A53 97.75%);
}
.midStat{
    position:absolute;
    width: 97px;
height: 83.74px;
clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0 10%);
left: 160px;
top: 329px;
background: rgb(255, 255, 255);
z-index: 1;
}
.innerMidStat{
    position:absolute;
    width: 91px;
height: 77.74px;
clip-path: polygon(50% 0%, 100% 10%, 100% 90%, 50% 100%, 0% 90%, 0 10%);
left: 163px;
top: 332px;
background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), #1E40AF;
z-index:2;
display: flex;
flex-direction: column;
align-items: center;
}
.innerMidStat > .statCount{
    margin-top:8px;
font-weight: 600;
font-size: 42px;
text-align: center;
text-shadow: 0px 2.22204px 6.66611px rgba(0, 0, 0, 0.4);
}

.innerMidStat>.statName{
font-weight: 600;
font-size: 18px;
letter-spacing: 0.04em;
text-shadow: 0px 1.08079px 3.24236px rgba(0, 0, 0, 0.4);
}

.lowerCard{
    overflow:clip;
width:419px;
height:361px;
left: 0px;
top: 378px;
position:absolute;
background: linear-gradient(54.9deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.5) 100%);

}
.playerName{

font-family: 'Teko';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 100%;
/* identical to box height, or 28px */

letter-spacing: 0.04em;

/* tailwind/blue/50 */

color: #EFF6FF;

mix-blend-mode: normal;
}
.playerClan{
    font-family: 'Inter';
font-style: italic;
font-weight: 467;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */

letter-spacing: 0.08em;
text-transform: uppercase;
font-variation-settings: 'slnt' -10;

mix-blend-mode: normal;
color:#788ccf;
}
.playerInfo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:10px;
}
.playerInfoLeft{

}
.playerInfoRight{
    display:flex;
    flex-direction: row;
    gap:10px;
}
.playerStats{
  display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 322px;
    height: 196px;
    left: calc(50% - 322px/2);
    top:85px;
    
}
.playerStatsLeft{

    display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 120px;
height: 177px;

}
/* Potentiellt slå ihop dessa*/
.playerStatsRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    width: 120px;
    height: 177px;
}
.divider{

width: 2px;
height: 196px;

background: rgba(255, 255, 255, 0.2);

/* Inside auto layout */

flex: none;
align-self: stretch;
flex-grow: 0;
}
.playerStatCountName{
    display:flex;
    flex-direction: row;
    gap:6px;
    align-items: center;
}
.statCount{
    font-family: 'Russo One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-align: right;
    color: #EFF6FF;
    mix-blend-mode: normal;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}
.statName{
    font-family: 'Teko';
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 100%;
color:#a5b3df;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;

mix-blend-mode: normal;
text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}
.backgroundLineContainer{
    position:absolute;
    left:-300px;
    top:-300px;
    mask-image: linear-gradient(186.49deg, rgba(255, 255, 255, 0.05) 25.6%, rgba(255, 255, 255, 0) 54.59%);
background-blend-mode: screen;
mix-blend-mode: normal;
transform: rotate(-180deg);

}
.backgroundLine{
    margin:15px;
    height:6px;
    width:1011px;
    background-color: #ffffff;
    background-blend-mode: screen;
    mix-blend-mode: screen;
    transform: rotate(135deg);
}
